
.grid_12
  %h2 Välkommen till Digital Demokrati!
  %p Digital Demokrati är Sveriges genuint demokratiska skuggparlament. <a href="/om">Läs mer här!</a>
  - unless authorized?
    .grid_4.alpha
      %h3 Vad är detta?
      %p Digital Demokrati är Sveriges genuint demokratiska skuggparlament. Här kan alla medborgare delta i ett stort samtal om samhället, rösta i politiska frågor - och utse egna representanter för de omröstningar man själv inte kan eller vill delta i. <a href="/about">Läs mer här!</a>
    .grid_4
      %h3 Bli medlem!
      = partial :signup
    .grid_4.omega
      %h3 Redan medlem? Logga in!
      = partial :login

.grid_3
  %h2 Medborgare
  %p Dessa medborgare har störst inflytande:
  %ul
    - Citizen.all.to_a.sort{|a,b| b.power <=> a.power}.each do |c|
      %li= c.link

.grid_6.propositions
  %h2 Propositioner
  - Proposition.all.each do |p|
    %a{:href => "/proposition/#{p.id}"}
      %h3= p.name
      %p= p.text.split("\n").first
      %p
        .left
          %a{:href => "/citizen/#{p.citizen.id}"}= p.citizen.name
        .right
          Result:
          = p.result
        .clear

.grid_3
  .arguments
    %h2 Argument
    - Argument.all.each do |a|
      %p
        %a{ :href => "/argument/#{a.id}" }
          %b= "#{a.citizen.name}:"
          = a.text.split("\n").first

.grid_3
  .votes
    %h2 Röster
    - Vote.all.each do |v|
      %p= v.link



